header{
    display: block;
    text-align: center;
}

.col-sm-6{
    font-size: 1.2em;
}

td {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.error {
    color: #FF0000;
}

.col-xs-6 {
    padding-top: 18px;
    padding-bottom: 18px;
}

h3 {
    margin-left: 30px;
}

h2 {
    text-align: center
}
* {
    padding: 2px;
}
